/* make it pretty */
header {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

#sideNav {
    margin-top: -10px;
    min-height: 90vh;
    border-right: thin solid lightgray;
    }

    #curIcon {
        background-color: lightskyblue;
        border-radius: 15px;
        height: 1.5em;
}