header {
    color: white;
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sideNav.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sideNav {
        margin-left: -250px;
    }
    #sideNav.active {
        margin-left: 0;
    }
}

#sideNav {
    margin-top: -10px;
    min-height: 90vh;
    border-right: thin solid lightgray;
    min-width: 250px;
    max-width: 250px;
    }

    #curIcon {
        background-color: lightsteelblue;
        border-radius: 15px;
        height: 1.5em;
}
.foreIcon {
    border-radius: 15px;
    background-color: lightsteelblue;
    height: 2.5em
}

#uvInd {
    font-size: 1rem;
}

#curStatus {
    border: thin solid lightgray;
}
.forecast {
    max-width: 15rem
}

.card {
    text-align: center;
    border-radius: 10px;
}

.city-button {
    border-radius: 10px;
}